/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "progress-wizard.min";

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import 'base';

/**
 * Helper Variables & Functions
 */
/**
 * Helper Variables & Functions
 */
@font-face {
  font-family: ooredoo;
  src: url("../fonts/ooredoo-regular-webfont.woff2") format("woff2"), url("../fonts/ooredoo-regular-webfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: ooredoo;
  src: url("../fonts/ooredoo-bold-webfont.woff2") format("woff2"), url("../fonts/ooredoo-bold-webfont.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: ooredoo;
  src: url("../fonts/ooredoo-light-webfont.woff2") format("woff2"), url("../fonts/ooredoo-light-webfont.woff") format("woff");
  font-weight: 300;
}

body {
  font: 1.8em/1.4 ooredoo, helvetica, arial, sans-serif;
  color: #646464;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  /*.flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }*/
}

body.show-nav {
  overflow: hidden;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  color: #ed1d24;
}

a:hover, a:focus {
  color: #ed1d24;
  text-decoration: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */
.main {
  position: relative;
}

/* ==========================================================================
   Module Styles
   ========================================================================== */

.movetop{
  position: fixed;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: #A61419;
  bottom: 20px;
  border-radius: 50%;
  right: 20px;
  color: #FFF;
  display: none;
  line-height: 40px;
  text-align: center;
  &:hover{
    color: #fff;
    background-color: #ccc;
  }
}
#main-nav {
  height: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999999;
}

body.show-nav #main-nav {
  height: 100vh;
}

#main-nav .wrapper {
  padding-top: 100px;
  height: 100%;
  width: 100%;
  background: transparent;
}

body.show-nav #main-nav .wrapper {
  background: rgba(0, 0, 0, 0.9);
  display: block;
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
}

#main-nav .wrapper a {
  display: block;
  opacity: 0;
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 26px;
  color: #DDD;
  -webkit-transform: translate(0, -100px);
  transform: translate(0, -100px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-nav .wrapper a:hover {
  color: #ed1d24;
}

#main-nav .wrapper a:nth-child(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

#main-nav .wrapper a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#main-nav .wrapper a:nth-child(4) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

#main-nav .wrapper a:nth-child(5) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

body.show-nav #main-nav .wrapper a {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.landing {
  background: url("../images/bg.png");
  background-size: cover;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 110px;
}

@media (min-width: 768px) {
  .landing {
    padding-top: 34px;
  }
}

.header {
  /*  position: relative;*/
  z-index: 10000000 !important;
  background: #DB161E;
  background: url("../images/bg.png");
  background-size: cover;
}
.header .navbar {
  margin-bottom: 0;
}
.navbar-header {
  float: left;
}
.header .logo {
  display: block;
  height: 83px;
}


.header .menu {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .header .logo {
    margin-left: 40px;
  }
}

.landing .menu {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .header .menu {
    padding-right: 50px;
  }
}

.header .menu a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  margin-top: 13px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .header .menu{
    float: right;
  }
  .header .menu a span{
    display: none;
  }
}

.landing .landing-content {
  padding-top: 10%;
}

.landing .title {
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 30px;
}

.landing .description {
  color: #fff;
  margin-bottom: 30px;
}

.landing .cta-btn {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  padding: 7px 35px;
  border-radius: 23px;
  border: 2px solid #fff;
}

a.scroll {
  position: absolute;
  bottom: -100px;;
  left: 0;
  right: 0;
  margin: auto;
  width: 46px;
  height: 46px;
  color: #A61419;
  border-radius: 50%;
  background-color: #FFF;
  text-align: center;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  line-height: 45px;
}
.landing a.scroll{
  bottom: 40px;
}
.landing .container{
  position: static;
}
a.scroll .icon {
  font-size: 24px;
}

.programme .bloc {
  padding-top: 136px;
  padding-bottom: 243px;
}

.programme h2 {
  font-size: 40px;
  font-weight: 300;
  color: #ed1d24;
  margin: 0;
  margin-bottom: 13px;
}

@media (max-width: 991px) {
  .programme h2 {
    text-align: center;
  }
}

.programme .objectif {
  background: url("../images/bg-dot-grey.png") repeat-x bottom;
}

.programme .objectif img {
  padding-bottom: 30px;
}

.programme .avantages {
  background: #f0f0f0 url("../images/bg-dot-white.png") repeat-x bottom;
}

.programme .avantages img {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .programme .avantages {
    padding-bottom: 225px;
  }
}

.programme .join {
  text-align: center;
  background: url("../images/bg-dot-red.png") repeat-x bottom;
  padding-bottom: 103px;
}

.programme .join p {
  margin: auto;
  max-width: 700px;
}

.programme .join .process {
  overflow: hidden;
  padding: 0;
  text-align: center;
  margin: 50px -12px 0;
}

@media (min-width: 768px) {
  .programme .join .process {
    margin-top: 105px;
  }
}

.programme .join .process li {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 190px;
  background-color: #ed1d24;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 12px;
}

.programme .join .process li::before {
  content: '';
  position: absolute;
  right: -47px;
  top: 3px;
  width: 78px;
  height: 25px;
  background: url("../images/arrow.png");
}

@media (max-width: 1200px) {
  .programme .join .process li::before {
    display: none;
  }
}

.programme .join .process li:last-child::before {
  display: none;
}

.programme .join .process li:nth-child(even)::before {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  bottom: 3px;
  top: auto;
}

.programme .join .process li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #c11f27;
  font-weight: bold;
  font-size: 125px;
}

.programme .join .process li div {
  position: absolute;
  padding: 0 22px;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.about {
  background: #ed1d24 url("../images/bg-dot-white.png") repeat-x bottom;
  color: #fff;
  position: relative;
  margin-top: 130px;
  padding-top: 82px;
  padding-bottom: 180px;
}

.about::before {
  content: '';
  width: 100%;
  height: 130px;
  position: absolute;
  top: -128px;
  left: 0;
  background: url("../images/bg3.png");
}

.about .logo-ooredoo {
  margin: 0 auto;
  display: block;
}

.about h2 {
  color: #5d0f0f;
  font-weight: bold;
  font-size: 40px;
  margin: 34px 0px 50px;
}

@media (max-width: 991px) {
  .about h2 {
    text-align: center;
  }
}

.about h3 {
  font-weight: bold;
  font-size: 22px;
  margin: 30px 0 10px;
}

.about .row img {
  margin-top: 100px;
}

.signup-form {
  background: url("../images/bg-dot-grey.png") repeat-x bottom;
  padding-top: 82px;
  padding-bottom: 160px;
  min-height: 580px;
}

.contact-form {
  background: #f0f0f0 url("../images/bg-dot-white.png") repeat-x bottom;
  padding-top: 32px;
  padding-bottom: 180px;
}

.contact-form h2 {
  color: #ed1d24;
  margin-bottom: 50px;
}

.contact-form .form-horizontal {
  background: #DBDEDF;
  border-radius: 10px;
  padding: 40px 40px;
}

.contact-form .lead {
  margin: 10px 0 30px;
}

.contact-form button[type="submit"] {
  background: #ed1d24;
  color: #FFF;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}

.cd-nav-trigger {
  z-index: 100000000000;
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}

.cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* used to create the menu icon */
  position: absolute;
  height: 2px;
  width: 18px;
  background-color: #ffffff;
}

.cd-nav-trigger span {
  /* menu icon middle line */
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.cd-nav-trigger span::after, .cd-nav-trigger span::before {
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-nav-trigger span::before {
  /* menu icon middle top line */
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.cd-nav-trigger span::after {
  /* menu icon middle bottom line */
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.nav-open .cd-nav-trigger span {
  background-color: transparent;
}

.nav-open .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open .cd-nav-trigger span::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.panel-default > .panel-heading {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  border: 0px !important;
  padding: 13px 20px 10px;
  font-size: 30px;
}

.panel-default > .panel-heading a {
  font-weight: bold;
  display: block;
}

.panel-default > .panel-heading a:hover, .panel-default > .panel-heading a:active, .panel-default > .panel-heading a:focus {
  color: rgba(0, 0, 0, 0.7);
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: 0px !important;
  background: rgba(0, 0, 0, 0.2);
}

.panel {
  background: transparent;
  border: 0px !important;
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
  border-radius: 8px !important;
}

.panel .col-sm-4 {
  text-align: center;
}

.panel .col-sm-4 h3 {
  display: block;
  width: 140px;
  height: 140px;
  line-height: 140px;
  color: #ed1d24;
  margin: 10px auto;
  background: #FFF;
  border-radius: 50%;
  text-align: center;
}

.quiz-wrapper {
  background: rgba(211, 217, 224, 0.6);;
  padding: 30px 50px;
  border-radius: 20px;
  color: #FFF;
  font-size: 16px;
}

.quiz-wrapper p {
  font-size: 14px;
  color: #6f7c83;
}

.quiz-wrapper label {
  font-size: 15px;
  color: #6f7c83;
}

.quiz-wrapper .form-control {
  border: 1px solid #ddd;
}

.quiz-wrapper .btn-default {
  border: none;
  color: white;
  background: #5E656F;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
}

.quiz-wrapper .parsley-errors-list {
  list-style: none;
  color: #E94E34;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 0;
}

.quiz-wrapper .result-quiz {
  display: none;
  text-align: center;
}

.quiz-wrapper .result-quiz .text {
  display: none;
}

.quiz-wrapper .result-quiz .prize {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 50%;
  padding-top: 20px;
}

.quiz-wrapper .result-quiz .prize.debutant {
  display: none;
}

.quiz-wrapper .result-quiz .prize i {
  display: block;
  position: relative;
  background: url(../images/prizes.png);
  width: 114px;
  height: 152px;
  margin: 0 auto;
}

.quiz-wrapper .result-quiz .prize.bronze i {
  width: 117px;
  background-position: -231px 0;
}

.quiz-wrapper .result-quiz .prize.silver i {
  width: 116px;
  background-position: -114px 0;
}

.quiz-wrapper .result-quiz .prize.gold i {
  width: 114px;
  background-position: 0px 0;
}

.tab-pane h2 {
  color: #4E7E89;
  font-size: 29px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.progress-indicator li {
  color: #A91217;
}

.progress-indicator li.completed {
  color: #6A0D10;
  font-weight: bold;
}

.progress-indicator > li .bubble:after,
.progress-indicator > li .bubble:before,
.progress-indicator > li .bubble {
  background-color: #A91217;
  border-bottom: none;
}

.progress-indicator > li.completed .bubble {
  z-index: 6;
}

.progress-indicator > li.completed .bubble, .progress-indicator > li.completed .bubble:after, .progress-indicator > li.completed .bubble:before {
  background-color: #6A0D10;
  border-color: #A91217;
  color: #FFF;
  line-height: 20px;
}

footer {
  backgeound: #FFF;
  padding: 30px 0;
  text-align: center;
}

footer .list-inline a {
  font-size: 14px;
  margin-right: 10px;
  color: #999;
}

footer .list-inline a:hover {
  color: #ed1d24;
}
section .container, section .bloc .container{
  position: relative;
}
